[mat-dialog-title] > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form > div {
  display: flex;
  align-items: center;
  gap: 6px;
}


form > div:nth-child(1) > mat-form-field:nth-child(1) {
  flex-basis: 60%;
}

form > div:nth-child(1) > mat-form-field:not(:nth-child(1)) {
  flex: 1 1 auto;
}



form > div:nth-child(2) > mat-form-field:nth-child(1) {
  flex-basis: 60%;
}

mat-icon[matSuffix] {
  color: #666;
}

