mat-form-field {
  width: 100%;
}

div.tabela {
  max-height: calc(100vh - 400px);
  overflow: auto;
}

table {
  width: 100%;
}

tr[mat-row]:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

tr[mat-row]:hover td {
  font-weight: 400;
  color: rgb(0, 0, 0);

}

table th:nth-child(2) {
  text-align: center;
}

table tr td:nth-child(2) {
  text-align: center;
}
